		<nav>
			<div id="left-nav-space">
			</div>
			<div class="home-logo">
				<a href="/index.html"><img src="/assets/img/logo.svg" onerror="this.onerror=null; this.src='/assets/img/logo.png'" width="441" height="41" alt="Mark Macapagal logo" /></a>
			</div>
			<div id="nav-container">
				<ul id="nav">
				  <li><a href="/index"><i class="fa fa-home fa-fw"></i><br/>HOME</a>
					<li>
					  <a href="#" class="more"><i class="fa fa-info-circle fa-fw"></i><br/><abbr title="Background">Background</abbr><span class="expand">BACKGROUND</span><i class="fa fa-caret-down"></i></a>
						<ul id="popover">
							<li><a href="/template"><i class="fa fa-file-text fa-fw"></i> R&Eacute;SUM&Eacute;</a>
							<li><a href="/template"><i class="fa fa-briefcase fa-fw"></i> <abbr title="portfolio">PORTFOLIO</a>
						</ul>
					<li><a href="/contact"><i class="fa fa-envelope fa-fw"></i><br/>CONTACT</a>
				</ul>
			</div>
			<header class="logotype">
				<h1><a href="/index">MARK MACAPAGAL</a></h1>
			</header>
		</nav>